.tech {
    @include container($width: 80rem, $margin: null, $padding: 0 2rem);
    font-family: $para-font;
    margin-bottom: 2rem;
}

.tech h2 {
    font-family: $sub-font;
}

.logotype {
    &--adjust {
        width: 20rem;
        margin-bottom: 0.5rem;
    }
}
