.tech {
    @include container;
    max-width: 80rem;
    font-family: $para-font;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.tech h2 {
    font-family: $sub-font;
}

.logotype {
    &--adjust {
        width: 20rem;
        margin-bottom: 0.5rem;
    }
}
