.flex-container {
    @include flex($main: space-around, $cross: center, $wrap: wrap);
    @include container;
    min-height: 40vh;
}

.analysis-box {
    min-width: 30rem;
    text-align: center;

    a {
        font-size: 3rem;
        text-decoration: none;
    }
}


