.flex-container {
    @include flex;
    @include container;
    min-height: 40vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.analysis-box {
    min-width: 30rem;
    text-align: center;

    a {
        font-size: 3rem;
        text-decoration: none;
    }
}


