a,
i {
    color: $color-dark;
}

body {
    color: $color-dark;
    background-color: $color-white;
}

h1 {
    color: $color-dark;
}

.nav a {
    color: $color-dark;
}

.nav-toggle {
    color: $color-dark;
}

.content {
    &__right {
        border-top: 3px solid $color-dark;
        border-bottom: 3px solid $color-dark;
    }
}


.small {
    border: 3px solid $color-dark;

    &:hover {
        box-shadow: 0 2rem 5rem 1rem rgba($color-dark, 0.5);
    }
}

.tech-link {
    color: $color-white;
    border: 3px solid $color-dark;
}

.footer a {
    color: $color-dark;
}

.title * {
    color: $color-dark;
}

pre {
    padding: 1rem;
    color: $color-white;
    background-color: $color-dark;
}

.gallery {
    img {
        border: 1px solid $color-dark;
        transition: all 0.5s;
    }

    img:hover {
        transform: translateY(-1rem);
        box-shadow: 0 2rem 5rem 1rem rgba($color-dark, 0.5);
    }
}
