.gallery {
    @include grid($columns: repeat(3, 1fr), $justify: center, $gap: 2rem);
    @include container($width: 150rem);

    &-main {
        padding-top: 3rem;
    }

    img {
        border: 1px solid $color-white;
        transition: all 0.5s;
    }

    img:hover {
        transform: translateY(-1rem);
        box-shadow: 0 2rem 5rem 1rem rgba($color-white, 0.5);
    }

}

@media screen and (max-width: 1400px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


