body {
    color: $color-white;
    background-color: $color-dark;
}

.main h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: $title-font;
}

.content {
    @include container;
    @include flex($main: space-around);

    &__left {
        width: 50%;
    }

    &__left p {
        @include flex($main: center, $cross: center);
    }

    &__right {
        @include flex($main: center, $direction: column);
        padding: 2rem;
        width: 50%;
        padding: 0 2rem;
        border-top: 3px solid $color-accent;
        border-bottom: 3px solid $color-accent;
    }

    &__right p {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-family: $para-font;
    }
}

.small {
    width: 80%;
    border: 3px solid $color-accent;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column;

        &__left {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__right {
            width: 100%;
            padding-top: 2rem;
        }
    }
}
