.tech-main {
    @include grid;
    @include container;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: 10rem;
    grid-auto-rows: minmax(20rem, auto);
    justify-items: center;
    align-items: center;

    h1 {
        grid-column: span 3;
        text-align: center;
    }
}

.tech-box {
    text-align: center;
    padding: 1rem;
}

.tech-box:last-child {
    grid-column: 2;
}

.tech-link {
    position: relative;
    font-size: 3rem;
    font-family: $sub-font;
    color: $color-accent;
    font-weight: 900;
    text-shadow: 0 0.5rem 0.5rem $color-dark;
    background: create-gradient(0deg, $color-one, $color-two, $color-three);
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    border: 3px solid $color-accent;
    margin-bottom: 2rem;
    transition: 1s all;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: create-gradient(360deg, $color-three, $color-two, $color-one);
        z-index: -1;
        transition: opacity 0.7s linear;
        opacity: 0;
    }

    &:hover {
        transform: translateY(-0.5rem);
    }

    &:hover::before {
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .tech-main {
        grid-template-columns: 100%;

        h1 {
            grid-column: 1 / -1;
        }
    }

    .tech-box:last-child {
        grid-column: 1 / -1;
    }
}
