.grid-container {
    @include grid;
    @include container;
    grid-template-columns: 1fr 3fr;
    gap: 0 2rem;
}

.tech-aside {
    @include flex;
    flex-direction: column;
    align-items: center;
}

.tech-single {
    padding: 0 2rem;

    p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    h2,
    li {
        font-family: $sub-font;
    }

    li {
        margin: 1rem 0;
    }

}

.aside-link {
    text-decoration: none;
    font-size: 2rem;
    font-family: $sub-font;
    margin-bottom: 2rem;

    &:first-child {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .tech-aside {
        display: none;
    }
}

.rapport-img {
    max-width: 100%;
}
