@mixin flex {
    display: flex;
}

@mixin grid {
    display: grid;
}

// Centered Container
@mixin container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
}

// Screen reader
@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
