// Color
$color-white: #fefdfa;
$color-dark: #0c2737; 
$color-accent: #f44f6b;

$color-one: hsl(281, 77%, 55%);
$color-two: hsl(267, 89%, 52%);
$color-three: hsl(257, 100%, 50%);

// Text
$title-font: 'Raleway', sans-serif;
$sub-font: 'Maitree', serif;
$para-font: 'Open Sans', sans-serif;
