// Color
$color-white: hsl(0, 0%, 98%); // rgb 250, 250, 250
$color-dark: hsl(60, 2%, 17%); // rgb 44, 44, 42
$color-accent: hsl(30, 43%, 89%); // 239, 227, 215

$color-html: hsl(18, 88%, 55%); // rgb 241, 101, 41
$color-css: hsl(198, 75%, 52%); // rgb 41, 168, 224
$color-js: hsl(48, 100%, 62%); // rgb 255, 217, 62

// Text
$title-font: 'Raleway', sans-serif;
$sub-font: 'Maitree', serif;
$para-font: 'Open Sans', sans-serif;
