{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main analysis-main" role="main">
        {{ content }}

        <div class="flex-container">
            {% for page in pages ("analysis/sub") %}

            <div class="analysis-box" markdown='1'>
                <a href="{{page.url}}" class="analysis-link">{{page.title}}</a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>