{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main grid-container">
        <aside class="tech-aside" role="aside">
            {% for page in pages ("analysis/sub") %}

            <a href="{{page.url}}" class="aside-link">{{page.title}}</a>

            {% endfor %}
        </aside>

        <div class="tech-single" role="main">
            {{ content }}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>