{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main tech-main" role="main">
        {{ content }}

        {% for page in pages ("technology/sub") %}

        <div class="tech-box" markdown='1'>
            <a href="{{page.url}}" class="tech-link">{{page.title}}</a>
        </div>
        {% endfor %}
    </div>

    {% include 'incl/footer.twig' %}
</body>