.header {
    h1 {
        font-size: 4rem;
    }
}

.site-header {
    @include flex;
    justify-content: space-between;
}

.logo img {
    width: 150px;
}

.title,
.logo {
    padding: 1rem 2rem;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        p {
            text-align: center;
        }
    }

    .logo {
        max-width: 30%;
    }
}

@media (max-width: 375px) {
    .logo img {
        width: 10rem;
    }
}

.title * {
    color: $color-white;
}

.title p {
    font-style: italic;
}
