@import '../../../node_modules/normalize.css/normalize';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 0 none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
